#cuerpo {
    text-align: center;
    margin-top: 6%;
}

#tablaPreguntas {
    text-align: center;
    margin: auto;
}

#tablaPreguntas th {
    color: #2D143F;
}

#tablaPreguntas td {
    border-color: #364278;
    border-width: 1px;
    background: #364278;
    padding: 5px;
}

#introFiltro {
    background-color: #364278;
    font-size: 108%;
}