#cuerpo {
    text-align: center;
    margin-top: 6%;
}

#tablaPreguntas {
    text-align: center;
    margin: auto;
}

#tablaPreguntas {
    color: #2d3764;
}

#tablaPreguntas td {
    background: #364278;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

#introFiltro {
    font-size: 108%;
}

#tablaPreguntas .button {
    background: #2d3764;
    color: white;
}

#elementosFiltro {
    background-color: #364278;
    width: 50%;
    border-radius: 20px;
    color: white;
    margin-left: 24%
}