#address {
    margin-left: 10%;
    margin-right: 10%;
}

#phone {
    margin-left: 10%;
    margin-right: 10%;
}

#password {
    margin-left: 10%;
    margin-right: 10%;
}

#repassword {
    margin-left: 10%;
    margin-right: 10%;
}

#telefonoUsuario {
    margin-top: 3%;
}

#contraseniaUsuario {
    margin-top: 3%;
}

#reContraseniaUsuario {
    margin-top: 3%;
}

.close2 {
    color: #cdcdcd;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 1%;
    margin-left: 87%;
    position: absolute;
}

.close2:hover,
.close2:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}