body {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

#CuadradoLogin {
    background-color: #2B75AE;
    padding: 6%;
    text-align: center;
    border-radius: 15px 50px;
}

#FormularioLogin {
    text-align: initial;
}

#Enviar {
    margin-top: 4%;
    margin-left: 35%;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: 3%;
    position: relative;
    z-index: 2;
}