#cuerpo {
    text-align: center;
    margin-top: 6%;
}

#tablaUsers {
    text-align: center;
    margin: auto;
}

#tablaUsers th {
    color: #2D143F;
}

#tablaUsers td {
    border-color: #364278;
    border-width: 1px;
    background: #364278;
    padding: 5px;
}
.imagen{
    height: 15px;
    
}
label{
    font-size: 20px;
    color: #2D143F;
}
.opcionPanel{
    padding: 5px;
    display: inline;
    margin: 15px;
}