#cuerpo {
    text-align: center;
    margin-top: 6%;
}

#tablaPreguntas {
    text-align: center;
    margin: auto;
}

#tablaPreguntas td {
    background: #dd5300;
    padding: 5px;
    color: #361a31;
    border-radius: 5px;
}

#introFiltro {
    font-size: 108%;
}

#tablaPreguntas .button {
    background: #c14a02;
    color: #361a31;
}

#elementosFiltro {
    background-color: #dd5300;
    width: 50%;
    border-radius: 20px;
    color: #361a31;
    margin-left: 24%
}