#cuerpo {
    text-align: center;
    margin-top: 6%;
}

#tablaPreguntas {
    text-align: center;
    margin: auto;
    color: #333131;
}

#tablaPreguntas td {
    background: #c85e2a;
    padding: 5px;
    color: #333131;
    border-radius: 5px;
}

#introFiltro {
    font-size: 108%;
}

#tablaPreguntas .button {
    background: #c14a02;
    color: #361a31;
}

#elementosFiltro {
    background-color: #c85e2a;
    width: 50%;
    border-radius: 20px;
    color: #333131;
    margin-left: 24%
}